.leftSide-container{
  display: inline-block;
}

body{
  margin: 5px;
  
}
.inline{
  display: inline-block;
}
h1 {
    color: green;
  }

  img {
    height: 10%;
    width: 25%;
    float: left;
    margin: 5px;
  }

  p {
    text-align: justify;
    font-size: 25px;
  }